.heroContainer {
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #dfccc2;
  position: relative;
  z-index: 1;

  /* rules */
  --center-child-before-height-width: 237px;
  --center-before-height: 200px;
  --center-before-opacity: 1;
}

.grid {
  display: grid;
  width: 875px;
  grid-template-columns: repeat(15, calc(875 / 15));
  grid-template-rows: repeat (15, calc(459 / 20));
  height: 459px;
  margin: 150px auto 0;
}

.left {
  color: #ffffff;
  z-index: 1000;
  grid-area: 2 / 1 / span 1 / span 8;
  max-width: 399px;
}

.left > h1 {
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
  letter-spacing: -1.5px;
  font-weight: 400;
  font-family: "Lexend Deca", sans-serif;
}

.center {
  grid-area: 1 / 6 / span 5 / span 10;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 412px;
  position: relative;
}

.centerChild {
  width: 100%;
  height: 100%;
  position: relative;
}

.right {
  z-index: 1000;
  grid-area: 1 / 15 / span 5 / span 6;
  position: relative;
}

.rightImage {
  height: 243px;
  width: 243px;
  background-color: #f60;
  border-radius: 50%;
}

.rightText {
  max-width: 194px;
  margin-left: auto;
  padding-left: 40px;
  font-family: "DM sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-left: auto;
  margin-top: 30px;
  color: #6e645f;
}

.center::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 70%;
  height: var(--center-before-height);
  width: 197px;
  opacity: var(--center-before-opacity);
  left: -90px;
  background-image: url("../../images/hero-bottom-left.svg");
  background-repeat: no-repeat;
  z-index: -1;
}

.center::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 68%;
  height: 237px;
  width: 237px;
  opacity: var(--center-before-opacity);
  left: 63%;
  background-image: url("../../images/hero-bottom-right.svg");
  background-repeat: no-repeat;
  z-index: -1;
}

.centerChild::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: -18%;
  height: var(--center-child-before-height-width);
  width: var(--center-child-before-height-width);
  left: 80%;
  background-image: url("../../images/hero-top-right.svg");
  background-repeat: no-repeat;
  z-index: -1;
}
