.container {
  overflow: hidden;
  background-color: #dfccc2;
  display: flex;
  align-items: center;
  /* background: #c5cebd; */
  position: relative;
  z-index: 1;
}

.sectionGrid {
  display: grid;
  grid-template-columns: 312px 387px 365px;
  height: 585px;
  column-gap: 88px;
  width: 1240px;
  margin: 0 auto;
}

.left {
  height: 385px;
}

.left,
.right {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.center {
  align-self: center;
}

.center > h3 {
  font-family: "Lexend Deca", sans-serif;
  color: #ffffff;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.5px;
  margin-bottom: 20px;
}

.center > p {
  color: #6e645f;
  line-height: 24px;
  font-size: 16px;
  font-family: "DM sans", sans-serif;
}

.right {
  height: 530px;
  align-self: flex-end;
  margin-bottom: -200px;
}

.container::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 70%;
  height: 100%;
  width: 100%;
  left: 0;
  background-image: url("../../images/first-section-svgleft.svg");
  background-repeat: no-repeat;
  z-index: -1;
}

.container::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: -20%;
  height: 100%;
  width: 100%;
  left: 85%;
  background-image: url("../../images/first-section-svgright.svg");
  background-repeat: no-repeat;
  z-index: -1;
}
